.slide_text {
    margin-top: 15%;
}

.mf{
    font-size: 1.2em;
}

#aboutUs {
    transition-duration: 0.6s;

}

.navbar-brand img {
    height: 60px;
    width: auto;
}

.flogo img {
    box-sizing: border-box;
    height: 60px;
    margin-bottom: 1.5%;
}

.mobF svg {
    fill: white;
    height: 3em;
}

.mailF svg {
    fill: white;
    height: 3em;
}

.locF svg {
    fill: white;
    height: 3em;
}